html, body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

/* HEADER */

#headlogo {
  max-width: 375px;
}

#mini-logo img {
  max-width: 250px;
  max-height: 100px;
}

header a {
  color: darkorange;
  font-size: 1.25rem;
}

header a:hover {
  color: navajowhite;
  }

.navbar-brand img {
  max-width: 430px;
  height: auto;
}

@media only screen and (min-width: 768px){
  .phone {
    display: none;
  }
}

@media only screen and (max-width: 768px){
  .nophone {
    display: none;
  }

  .phone a {
    color: black;
    font-weight: bold;
  }

  .phone a:hover {
    color: darkorange;
    text-decoration: none;
  }

  .phone .navbar-brand img {
    max-height: 100px;
  }

}

/* #HOME */
#home  {
  background-image: url("../img/alex/orange-copy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 800px;
  padding-top: 200px;
  margin-bottom: 0;

}

#home .btn {
  font-weight: bold;
  color: darkorange;
  font-size: 1.5rem;
}

#home a {
  color: darkorange;
}

#home a:hover {
  color: navajowhite;
  text-decoration: none;
}

#home a:visited {
  color: darkorange;
}

.aboutus {
  background-color: hsla(0, 0%, 41.2%, 0.6);
  flex-direction: column;
  align-items: center;
  /* color: navajowhite; */
}

.aboutus h2 {
    font-family: "Crete Round", serif;
}

@media only screen and (max-width: 768px) {
  #home {
    background-image: url("../img/alex/orange.jpg");
    /* padding-top: 800px; */
  }

  #home h1 {
    font-size: 1rem;
  }

  #home .btn {
    font-size: 1rem;
  }
}

/* SERVICES */

#ourservices {
  background-image: none;
  /* margin-top: 0; */
}

#ourservices .carousel-caption {
  background-color: hsla(0, 0%, 41.2%, 0.6);
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}

#ourservices h1 {
  font-family: "Crete Round", serif;
  font-weight: bold;
  color: darkorange;
}

#ourservices h2 {
  font-family: "Crete Round", serif;
}

#ourservices p {
  font-size: 1.25rem;
}

.carousel-caption h4 {
  color: white;
}

.card a {
  color: darkorange;
}

#ourservices .card h1, h3, h4 {
  color: darkorange;
}

.card a:hover {
  color: navajowhite;
  text-decoration: none;
}

.card a:visited {
  color: navajowhite;
  text-decoration: none;
}

@media only screen and (min-width: 768px){
  .phone {
    display: none;
  }
}




/* EMAIL US */
#emailus {
  background-color: darkorange;
  color: white;
}

#emailus h1 {
  font-family: "Crete Round", serif;
}

/* FOOTER */

#copy {
  color: darkorange;
  font-family: "Crete Round", serif;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: navajowhite;
  text-decoration: none;
}

footer a:visited {
  color: darkorange;
  text-decoration: none;
}
